{% extends "base.html" %}
{% block title %}<title>login page</title> {% endblock %}
{% block content %}
<form action="." method="POST" name="form2">
    {% csrf_token %}
    <table border="0" cellspacing="0" cellpadding="4">
        <tr><th>Login:</th><td><input type="text" id="login" name="login" value={{username}}></td></tr>
        <tr><th>Password:</th><td><input type="text" id="password" name="password" value={{username}}></td></tr>
        <tr>
            <th colspan="2" align="left">
            <input type="submit" id="button" name="button" value="送出">
            <input type="reset" id="button2" name="button2" value="重設">
            </th>
        </tr>

    </table>
</form>
{% endblock %}